<!-- <p>main-navigation-page works!</p> -->


<main class="nav-section ">
  <nav class="p-4 rounded shadow-md flex items-center justify-between">

    <!-- logo -->
    <a href="#" class="logo text-2xl font-bold">
      EDU<span class="text-blue-600">FAST.</span>
    </a>

    <!-- nav-links -->
    <ul class="flex space-x-6 font-medium">
      <li>  <a [routerLink]="['/home']" routerLinkActive="text-blue-600 border-b-2 border-blue-600"
           class="nav-link hover:text-blue-500">
          Home
        </a></li>
      <li><a href="#" class="nav-link">About</a></li>
      <li><a href="#" class="nav-link">Courses</a></li>
      <li><a href="#" class="nav-link">Contact</a></li>
    </ul>
    <a href="" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-medium">
        Register
    </a>
  </nav>
</main>



