<!-- <p>home-page works!</p> -->
<section class="home-section mt-8 flex justifify-center items-center">
  <div class="container mx-auto px-4 ml-20">
    <h1 class="text-2xl font-semibold text-left mb-6">
      Welcome to EDU<span class="text-blue-500">Fast</span>
    </h1>
    <h1 class="text-5xl main-text-span">Start
       <span class="text-blue-500">Better</span><br>
        <span class="text-blue-500">Life</span>
        From Here
    </h1>
    <div class="span-div">
    <span class="text-xl font-semibold ">World-class training and development developed<br> by top teachers.</span>
  </div>
  <div>
    <div class="button-div mt-8">
        <div class="inline-block mr-4">
          <button class="bg-blue-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-500/90 transition duration-300">
            Learn More
          </button>
        </div>
    </div>
  </div>
  </div>

  <div class="image-contaner mx-auto mr-60"> 
    <div class="image-div w-[300px] h-[300px] rounded-full overflow-hidden mx-auto border border-blue-500 shadow-lg shadow-blue-100">
       <img  src="assets/photo-readingBook.avif" class="w-full h-full object-cover">
    </div>
  <!-- <img src> -->
  </div>
  
</section>
